<div class="feedback-header">
<h1>My Feedback</h1>
    <div class="feedback-btn">
        {% include "dashboard/_feedbackBtn.html" %}
    </div>
</div>
<div class="feedback">
    <div class="feedback-replies">
        <h3>Feedback replies:</h3>
        {% if not current_user.my_replies %}
        <h5>You have no feedback replies at the moment</h5>
        {% endif %}
        <ul>
            {% for r in current_user.my_replies %}
            <li id="list-{{r.id}}">{{ r.reply_message }} from subject {{r.feedback_replied.subject}}<button className
                    id="reply-{{r.id}}" class="btn btn-danger del-btn">Delete</button></li>
            {% endfor %}
        </ul>
    </div>

    {% include "dashboard/_feedbackReceived.html" %}



</div>

<script>
    $('.del-btn').on('click', function (e) {
        const id = e.target.id.split('-')[1]
        console.log(id)
        $.ajax({
            url: `/dashboard/replies/delete/${id}`,
            method: 'POST',
            success: function (response) {
                if (response.success) {
                    $(`#list-${id}`).remove()
                    Toastify({
                        text: "Reply deleted.",
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: 'right', // `left`, `center` or `right`
                        backgroundColor: "linear-gradient(to right, #ff7373, #ec1629)",
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                    }).showToast()
                    if (!response.any_replies_left) {
                        $('.feedback-replies').append('<h5>No Feedback Replies</h5>')
                    }
                }
            }
        })
    })
</script>