<div class="personal-details">
    <img width="400px" src="{{ current_user.profile_image }}" alt="profile_picture" data-toggle="modal"
        data-target="#uploadImageModal" />

    {% if current_user.is_authenticated %}
    {% from "uploadImage.html" import upload_image %}
    {{ upload_image(current_user) }}
    {% endif %}
    <div class="personal-details-container">
        <div class="details">
        <h1><a style="text-decoration: none"
                href="{{url_for('users.show',username=current_user.name)}}">{{ current_user.name }}</a></h1>
        <ul>
            <li>
                <span style="font-weight: bold;">Department:</span>
                {{ current_user.department }}
            </li>
            <li>
                <span style="font-weight: bold;">Position:</span>
                {{ current_user.role }}
            </li>
            <li>
                <span style="font-weight: bold;">Contact:</span>
                {{ current_user.email }}
            </li>
        </ul>
        </div>
        <div class="medals">
                <div>Objectives completion: {{ progress_percentage }}
                    {% if progress == 1.0 %}
                    <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% elif progress < 0.99 and progress >= 0.5 %}
                    <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
        
                    {% elif progress >0 and progress <= 0.5 %}
                    <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% else %}
                    No medal
        
                    {% endif %}
                </div>
        
                <div>Compliments Received: {{ compliments_received }}
                    {% if compliments_received >= 10 %}
                    <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% elif compliments_received < 10 and compliments_received >=5 %}
                    <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
        
                    {% elif compliments_received < 5 and compliments_received > 0 %}
                    <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% else %}
                    No medal
        
                    {% endif %}
                </div>
        
                <div> Compliments Given: {{ compliments_given }}
                    {% if compliments_given >= 10 %}
                    <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% elif compliments_given < 10 and compliments_given >=5 %}
                    <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
        
                    {% elif compliments_given < 5 and compliments_given > 0 %}
                    <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
        
                    {% else %}
                    No medal
        
                    {% endif %}
                </div>
        
                <div>
                    {% if progress == 1.0 and compliments_received >= 10 and compliments_given >= 10 %}
                    You are a star!
                    <img src="{{ star.medal }}" style="width: 50px; height: 50px">
                    {% endif %}
                </div>
        
            </div>
    </div>
</div>