{% extends "_layout.html" %} {% block content %}


<div class="dashboard">
    {% include "dashboard/_personalDetail.html" %}
    <div class="container main-container">
        <div class="row display-flex">
            <div class="col-md-6">
                <div class="left-container">
                    {% include "dashboard/_compliment.html" %}

                    {% include "dashboard/_objective.html" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-container">
                    {% include "dashboard/_calendar.html" %}

                    {% include "dashboard/_projectTeam.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">

        {% include "dashboard/_feedback.html" %}

    </div>
</div>



<script>

    $('#request-feedback-form').on('submit', function (e) {
        e.preventDefault()
        const id = $('#sel1').val()
        $.ajax({
            url: `/dashboard/feedback/${id}`,
            method: "POST",
            data: $(this).serialize(),
            success: function (resp) {
                Toastify({
                    text: "Feedback successfully requested.",
                    duration: 3000,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: 'right', // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #bbe1ee, #adf4e8)",
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                }).showToast()
                $("#feedbackForm").modal('hide')
                // $('.modal-backdrop').remove()
            }
        })
    })

    $("input[type='file']").on("change", function (event) {
        let url = URL.createObjectURL(event.target.files[0]);
        console.log("url: ", url);
        $("#preview_image").attr("src", url);
    });

    $('.subs-btn').on('click', function (e) {
        const id = e.target.id.split('-')[1]
        $('#subject-title').html($(`#subject-${id}`).html())
        $.ajax({
            url: `/dashboard/message/${id}`,
            method: "GET",
            success: function (resp) {
                $('#subject-message').html(resp)
            }
        })
    })

    $('.feedback-forms').on('submit', function (e) {
        e.preventDefault()
        const formId = $(this).attr('id')
        $.ajax({
            url: `/dashboard/replies/${formId}`,
            method: 'post',
            data: $(this).serialize(),
            success: function (resp) {
                $(`#reply-modal-${formId}`).modal('hide')
                $(`#list-${formId}`).remove()
                Toastify({
                    text: "Feedback successfully answered.",
                    duration: 3000,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: 'right', // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #6b85e9, #a45be5)",
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                }).showToast()
                if (!resp.any_feedback_left) {
                    $('.feedback').append('<h5>No Feedback Message</h5>')
                }
            }
        })
    })

    // function for left and right container same height
    // $('.right-container').css('height', $('.left-container').outerHeight() + 'px')
    // $('.left-container').css('height', $('.right-container').outerHeight() + 'px')


    // function replyFunc(e) {
    //     e.preventDefault()
    //     const id = e.target.children[0].value
    //     debugger
    //     // console.log(subForm)
    //     $.ajax({
    //         url: `/dashboard/replies/${id}`,
    //         method: "POST",
    //         data: $(this).serialize(),
    //         success: function (resp) {
    //             $('#reply-modal').modal('hide')
    //         }
    //     })
    // }

    // using contentType method, inefficient for large forms
    // $('#request-feedback-form').on('submit', function(e) {
    //     e.preventDefault()
    //     const id = $('#sel1').val()
    //     $.ajax({
    //         url: `/dashboard/feedback/${id}`,
    //         method: "POST",
    //         // contentType: 'application/json', <-- default to form
    //         // data: JSON.stringify({
    //         //     htaever: 'asdfasdf',
    //         //     formSubject: $('formMessage').val()
    //         // })
    //         success: function (resp) {
    //             $("#feedbackForm").modal('hide');
    //             console.log(resp);
    //         }
    //     })
    // })
</script>

{% endblock %}