{% if current_user == user or (current_user.is_manager and current_user.department == user.department) %}
<div class="manager-comments">
    {% for x in manager_notes %}
    <div class="my-notes card {{ x.id }}" style="width: 18rem;">
        <h5 class="card-header">Manager's Comment:</h5>
        <div class="card-body">
            <h6 class="card-title">{{ x.review_date }}</h6>
            <p class="card-text">{{ x.manager_notes }}</p>
            {% if current_user.is_manager and current_user.department == user.department %}
            <button id="{{ x.id }}" type="button" class="delete-btn btn btn-primary">Delete</button>
            {% endif %}
        </div>
    </div>
    <br />
    {% endfor %}
</div>
<div class="my-notes">
    {% for x in executive_notes %}
    <div class="my-notes card {{ x.id }}" style="width: 18rem;">
        <h5 class="card-header">My Notes: </h5>
        <div class="card-body">
            <h6 class="card-title">{{ x.review_date }}</h6>
            <p class="card-text">{{ x.executive_notes }}</p>
            {% if current_user == user %}
            <button id="{{ x.id }}" type="button" class="delete-btn btn btn-primary">Delete</button>
            {% endif %}
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endif %}

<script>

    function deleteComment(e) {
        $.ajax({
            url: `/users/delete-comment/${e.target.id}`,
            method: 'POST',
            success: function (response) {
                $(`.${e.target.id}`).fadeOut();
            }
        })
    }
    $('.delete-btn').on('click', deleteComment)
</script>