{% extends "_layout.html" %} 
{% block content %}
<div class="feed">
    <h1>Employee Directory</h1>
    {% for user in users %}
    <div class="feed-details">
        <img width="400px" src="{{ user.profile_image }}" alt="profile_picture" data-toggle="modal" data-target="#uploadImageModal" />
            <div class="personal-details-container">
                <div class="details">
                <h1><a style="text-decoration: none" href="{{ url_for('users.show', username=user.name) }}">{{ user.name }}</a></h1>
                    <ul>
                        <li>
                            <span style="font-weight: bold;">Department:</span>
                            {{ user.department }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">Position:</span>
                            {{ user.role }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">Contact:</span>
                            {{ user.email }}
                        </li>
                    </ul>
                </div>
            
             <div class="medals">
                    <div>Objectives completion: {{ 100*(user.progress)|round(1) }}%
                        
                        {% if user.progress == 1.0 %}
                        <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% elif user.progress < 1 and user.progress >=0.5 %}
                        <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
            
                        {% elif user.progress >0 and user.progress <=0.5 %}
                        <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% else %}
                        No medal
            
                        {% endif %}
                    </div>
            
                    <div>Compliments Received: {{ user.senders|length }}
                        {% if user.senders|length >= 5 %}
                        <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% elif user.senders|length < 5 and user.senders|length >=3 %}
                        <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
            
                        {% elif user.senders|length < 3 and user.senders|length > 0 %}
                        <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% else %}
                        No medal
            
                        {% endif %}
                    </div>
            
                    <div> Compliments Given: {{ user.recipients|length }}
                        {% if user.recipients|length >= 5 %}
                        <img src="{{ gold.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% elif user.recipients|length < 5 and user.recipients|length >=3 %}
                        <img src="{{ silver.medal }}" class="medal" style="width: 50px; height:50px">
            
                        {% elif user.recipients|length < 3 and user.recipients|length > 0 %}
                        <img src="{{ bronze.medal }}" class="medal" style="width: 50px; height: 50px">
            
                        {% else %}
                        No medal
            
                        {% endif %}
                    </div>
            
                    <div>
                        {% if user.progress == 1.0 and user.senders|length >= 5 and user.recipients|length >= 5 %}
                        You are a star!
                        <img src="{{ star.medal }}" class="medal" style="width: 50px; height: 50px">
                        {% endif %}
                    </div>
            
                </div>
    </div>
</div>
    {% endfor %}

</div>

{% endblock %}