{% extends "_layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <div class="personal-details">
    <img width="400" height="400" src="{{ user.profile_image }}" alt="profile_picture" />
    <div>
        Objectives completion:
        <div class="progress" style="width: 25rem">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: {{progress_percentage}}">{{progress_percentage}}</div>
        </div>
    </div>
  </div>
  {% if current_user.is_manager and current_user.department == user.department %}
  <form action="{{url_for('objectives.create', username = user.name)}}" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Objective:
        </span>
      </div>
      <input name="objective" type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" />
      <button type="submit" class="btn btn-outline-secondary" id="button-addon2">
        Submit
      </button>
    </div>
  </form>
  {% endif%}

  <h4>Completed Objectives</h4>
  <div class="completed-objective">
    {% for obs in user.completed_objective %}
    <div class="objective-{{ obs.id }} input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input checked class="checkbox-input" id="objective-{{ obs.id }}" type="checkbox"
            aria-label="Checkbox for following text input" />
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" value="{{ obs.objective }}" />
    </div>
    {% endfor %}
  </div>

  <h4>Incomplete Objectives</h4>
  <div class="incomplete-objective">
    {% for obs in user.incomplete_objective %}
    <div class="objective-{{ obs.id }} input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="checkbox-input" id="objective-{{ obs.id }}" type="checkbox"
            aria-label="Checkbox for following text input" />
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" value="{{ obs.objective }}" />
    </div>
    {% endfor %}
  </div>

  {% if current_user.is_manager %}
  <div class="calendar">

    {% include "dashboard/_calendar.html" %}

    <form action="{{ url_for('users.calender', username = user.name) }}" method="POST">
      <div class="form-group">
        <label for="title">Title:</label>
        <input name="event-title" type="text" class="form-control" id="event-title" aria-describedby="title"
          placeholder="Enter event title..." />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description:</label>
        <textarea name="event-details" class="form-control" placeholder="Enter event details...." id="event-details"
          rows="2"></textarea>
      </div>
      Starting Date and Time of event:
      <input type="datetime-local" name="startdaytime" /> Ending Date and Time
      of event: <input type="datetime-local" name="enddaytime" />
      <button class="btn btn-primary" type="submit">Create Event</button>
    </form>
  </div>
  {% endif %}
</div>
{% endif %}

<script>
  $(document).on("click", ".checkbox-input", function (event) {
    id = event.target.id.split("-")[1];

    if ($(this).is(":checked")) {
      console.log("Box is NOW checked");
      $.ajax({
        url: `/objectives/update/${id}`,
        method: "POST",
        success: function (response) {
          console.log(response);
          completedObjective = $(`.objective-${id}`);
          completedObjective.remove();
          $(".completed-objective").append(completedObjective);
        }
      });
    } else {
      console.log("Box is now unchecked");
      $.ajax({
        url: `/objectives/update/${id}`,
        method: "POST",
        success: function (response) {
          console.log(response);
          incompleteObjective = $(`.objective-${id}`);
          incompleteObjective.remove();
          $(".incomplete-objective").append(incompleteObjective);
        }
      });
    }
  });
</script>

{% endblock %}