{% extends '_layout.html' %}
{% block content %}
<h3>Performance review</h3>

<div>
    <div>Name: {{user.name}}</div>
    <div>Role: {{user.role}}</div>
    <div>Department: {{user.department}}</div>
    <div>Manager's Name: {{manager.name}}</div>
</div>

<div>
    Objectives completion:
    <div class="progress" style="width: 25rem">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: {{progress_percentage}}">{{progress_percentage}}</div>
    </div>
</div>

{% include "users/_reviewBtn.html" %}

{% include "users/_reviewComment.html" %}

{% endblock %}