<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block header %}{% endblock %}
  {% from "sessions/new.html" import log_in_modal %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="home">
    {% include "_navbar.html" %}

    <div class="d-flex toggled" id="wrapper">
      {% include "_sidebar.html" %}
      <!-- Page Content -->
      <div id="page-content-wrapper">
        {{ log_in_modal() }}
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer id="sticky-footer" class="py-4">
      <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
      </div>
    </footer>
  </div>

  <script>
    $(document).ready(function () {
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });

      $(".dropdown").click(function (e) {
        $.ajax({
          url: `/users/notification`,
          method: "POST",
          success: function (response) {
            console.log(response)
          },
          complete: function () {
            $("#unread-notification").html("0")
          }
        })
      })
    });
  </script>
</body>

</html>