.compliments {
    h1 {
        font-weight: 700;
        color: $primary-color;
    }
    h3 {
        color: $primary-accent;
        font-weight: 700;
    }
    h4 {
        color: $primary-accent;
    }
    .modal-header {
        background-color: $secondary-color;
        h5 {
            color: $primary-accent;
            font-weight: 700;
        }
    }
    .modal-footer {
        #submit-btn {
            background-color: $primary-accent;
            color: $secondary-color;
        }
        .btn-secondary {
            color: $secondary-color;
        }
    }
    .user-list {
        a {
            color: $primary-accent;
            font-weight: 700;
        }
    }
    .badge-list {
        a {
            color: $primary-accent;
            font-weight: 700;
        }
    }
    #badgeResult {
        color: $primary-accent;
        font-weight: 700;
    }
    #recipientResult {
        color: $primary-accent;
        font-weight: 700;
    }
    .new-compliments {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $secondary-accent;
        .btn {
            background-color: $primary-accent;
            border-color: $primary-accent;
            color: $secondary-color;
        }
    }
    .compliments-cards {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
 
        .card {
            padding: 10px;
            box-shadow: 5px 10px 8px #888888;
            background-image: linear-gradient($primary-accent, $secondary-color);
            margin-bottom: 20px;
            border-radius: 10px;
            height: 400px;
            
            h4 {
                text-align: center;
                font-weight: 700;
                color: $secondary-color;
            }
            .card-body {
                p {
                    color: $primary-color;
                    font-weight: 700;
                }
            }
            .card-img-top {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                object-fit: cover;
                border: 3px solid $secondary-color;
            }
            .img-container {
                margin-left: auto;
                margin-right: auto;
            }
            .sender {
                p {
                    margin-bottom: 0;
                    color: $primary-color;
                }
                .sender-container {
                    display: flex;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}