.dashboard {
    h1 {
        font-weight: 700;
        a {
            color: $primary-color;
        }
    }
    .personal-details {
        display: flex;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $secondary-accent;
        margin-bottom: 10px;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid $secondary-color;
        }
        .personal-details-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 50px;
            .medals {
                color: $primary-color;
                text-align: right;
                img {
                    margin-bottom: 2px;
                }
            }
        }
        ul {
            list-style-type: none;
            padding-inline-start: 0;
            li {
                color: $primary-color;
            }
        }
    }
    .main-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .left-container {
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
            width: 600px;
            border-radius: 10px;
            background-color: $secondary-accent;
            .compliments {
                h1 {
                    padding-left: 0;
                }
                h3 {
                    color: $primary-accent;
                }
                ul {
                    padding-inline-start: 30px;
                    li {
                        color: $primary-color;
                    }
                    p {
                        color: $primary-color;
                    }
                }
            }
            .objectives {
                ul {
                    padding-inline-start: 30px;
                    li {
                        color: $primary-color;
                    }
                }
            }
        }
        .right-container {
            margin-bottom: 20px;
            margin-right: 20px;
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
            width: 600px;
            border-radius: 10px;
            background-color: $secondary-accent;
            .calendar {
                margin-bottom: 20px;
                text-align: center;
            }
            .team {
                h1 {
                    color: $primary-color;
                }
                ul {
                    li {
                        color: $primary-color;
                        a{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .bottom-container {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 1230px;
        border-radius: 10px;

        background-color: $secondary-accent;
        .feedback-header {
            display: flex;
            margin-bottom: 20px;
            h1 {
                color: $primary-color;
            }
            .feedback-btn {
                margin-left: 20px;
                .request-btn {
                    background-color: $primary-accent;
                    border-color: $primary-accent;
                    color: $secondary-color;
                }
                .modal-header {
                    h5 {
                        font-weight: 700;
                    }
                    background-color: $secondary-color;
                    color: $primary-accent;
                }
                .modal-footer {
                    button {
                        color: $secondary-color;
                    }
                    .feedbackbtn {
                        background-color: $primary-accent;
                        border-color: $primary-accent;
                        color: $secondary-color;
                    }
                }
            }
        }
        .feedback {
            display: flex;
            justify-content: space-between;
            h3 {
                color: $primary-accent;
            }
            h5 {
                color: $primary-color;
            }
        }
    }
}