.feed {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    h1 {
        font-weight: 700;
        color: $primary-color;
        a {
            color: $primary-color;
        }
    }
    .feed-details {
        display: flex;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $secondary-accent;
        margin-bottom: 10px;
        border-radius: 10px;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid $secondary-color;
        }
        .personal-details-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 50px;
            .medals {
                color: $primary-color;
                text-align: right;
                img {
                    margin-bottom: 2px;
                }
            }
        }
        ul {
            list-style-type: none;
            padding-inline-start: 0;
            li {
                color: $primary-color;
            }
        }
    }
}