.home {
    font-family: $primary-font;
    background-color: $secondary-color;
    .navbar {
        background-color: $primary-accent;
        color: $secondary-color;
        font-weight: 700;
        a {
            color: $secondary-color;
        }
        .navbar-toggler {
            border-color: $secondary-color;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,235,219)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        .dropdown {
          button {
            background-color: $primary-accent;
            color: $secondary-color;
            border-color: $secondary-color;
            #unread-notification {
              margin: 3px;
            }
          }
          .dropdown-menu {
            background-color: $secondary-color;
            .new-notification {
              background-color: $secondary-accent;
              a {
                color: $primary-color;
              }
            }
            .read-notification {
              background-color: $secondary-color;
              a {
                color: $primary-color;
              }
            }
          }
        }
    }
    .carousel-inner {
      h5 {
        color: $secondary-color;
        font-weight: 700;
      }
      p {
        color: $secondary-color;
      }
    }
    .jumbotron {
        background-color: $secondary-accent;
        h1 {
            color: $primary-color;
            font-weight: 700;
        }
        p {
          color: $primary-accent;
        }
        .btn {
            background-color: $primary-accent;
            color: $secondary-color;
            border-color: $primary-accent;
        }
    }
    #sticky-footer {
        background-color: $secondary-accent;
        color: $primary-color;
    }
    body {
        overflow-x: hidden;
      }
      
      #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
      }
      
      #sidebar-wrapper .list-group {
        width: 150px;
      }
      #sidebar-wrapper .list-group .list-group-item {
        background-color:$secondary-color;

      }

      #sidebar-wrapper .list-group .list-group-item::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: $primary-color;
        transition: width .3s;
      }
      #sidebar-wrapper .list-group .list-group-item:hover::after {
        width: 50%;
      }
      #page-content-wrapper {
        min-width: 100vw;
      }
      
      #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
      }
      
      @media (min-width: 768px) {
        #sidebar-wrapper {
          margin-left: 0;
        }
      
        #page-content-wrapper {
          min-width: 0;
          width: 100%;
        }
      
        #wrapper.toggled #sidebar-wrapper {
          margin-left: -150px;
        }
      }
      .d-block {
        width: 100vw;
        height: 60vh;
      }
}